
<div>
    <div class="row">

         <div class="col-md-3">
           <p>Select Conversion</p>
        </div>
         <div class="col-md-3">
                <select class="custom-select" @bind="@selectedConversion" style="min-width:300px">
                    <option value="0" selected>Select...</option>
                    <option value="1">Linear Feet To Meters</option>
                    <option value="2">Square Feet To Square Meters</option>
                    <option value="3">Square Meters To Square Feet</option>
                    <option value="4">Meters To Linear Feet</option>
                </select>
            </div>
       </div>
       <br />

       <div class="row">
            <div class="col-md-3">
                <p>@InputMetric</p>
        </div>
        <div class="col-md-4">
            <input type="number" placeholder="Enter  Number" @bind="@NumToConvert" @bind:event="oninput"/>
        </div>
        </div>
   

    <br />
    <div class="row">
        <div class="col-md-3">
            <p>@ResultMetric</p>
        </div>
        <div class="col-md-3">
            <input readonly @bind="@finalresult" />
        </div>
        
                
        
    </div>

    <br />
   
</div>

@code {

    string ResultMetric = "Result";
    string InputMetric = "Enter Measurment";
    private string myVar;
    private double myDouble;
    double finalresult;

    public double NumToConvert
    {
        get { return myDouble; }
        set
        {
            myDouble = value;
            ConvertNumbers();
        }
    }

    public string selectedConversion
    {
        get { return myVar; }
        set { myVar = value;
            ConvertNumbers();
        }
    } 

   
    private void ConvertNumbers()
    {
          if(selectedConversion == "0")
        {
            InputMetric = "Enter Measurment";
            ResultMetric = "Result";

        }else if(selectedConversion == "1")
        {
            InputMetric = "Linear Feet";
            ResultMetric = "Meters";

             finalresult = Math.Round((NumToConvert * 0.3048),4);
        }else if (selectedConversion == "2")
        {
            InputMetric = "Square Feet";
            ResultMetric = "Square Meters";

             finalresult =  Math.Round((NumToConvert * 0.0929),4);
        }else if(selectedConversion == "3")
        {
            InputMetric = "Square Meters";
            ResultMetric = "Square Feet";

             finalresult =  Math.Round((NumToConvert * 10.764),4);
        }else if(selectedConversion == "4")
        {
            InputMetric = "Meters";
            ResultMetric = "Linear Feet";

             finalresult =  Math.Round((NumToConvert * 3.2808398950131),4);
        }
       
    }

}
